<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZarzadzanieSklepem.Properties.Settings.Z408_K_SzConnectionString"
            connectionString="Data Source=prod.wwsi.edu.pl;Initial Catalog=Z408_K_Sz;Persist Security Info=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>